
.nav-logo {
    display: block;
    float: left;
    margin-top: 8px;
    height: 30px;
    width: 30px;
    background: url(../img/wolf_fill.svg) no-repeat top left;
}


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg-3.jpg) no-repeat bottom center scroll; 
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.stream {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/stream-bg.jpg) no-repeat top center scroll;
    background-color: #151515;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/about-bg.jpg) no-repeat bottom center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.stream .stream-body {
    display: table-cell;
    vertical-align: middle;
}

.timescape .timescape-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
    
    .stream {
        height: 100%;
        padding: 0;
    }
    .stream .stream-body .brand-heading {
        font-size: 100px;
    }

    .stream .stream-body .about-text {
        font-size: 26px;
    }
    
}


.class {
    width: 100%;
    padding: 100px 0px;
    /*  For light theme
            color: #151515;
        For dark theme
            color: #fff;
    */
    color: #151515; 
    background: url(../img/class-bg.jpg) no-repeat center center scroll;
    /*  For light theme
            background-color: #f0f0f0;
        For dark theme
            background-color: #151515;
    */
    background-color: #f0f0f0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    
}


.media {
    width: 100%;
    padding: 50px 0;
    color: #262626;
    background: url(../img/media-bg.jpg) no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.join {
    width: 100%;
    padding: 100px 0;
    color: #f0f0f0;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}


.rule {
    width: 100%;
    padding: 200px 0;
    color: #151515;
    background-color: #f0f0f0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}




.flat {
    display: table;
    width: 100%;
    height: auto;
    padding: 0px 0;
    color: #151515;
    background-color: #f0f0f0;
    text-align: center;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}