

.flat {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.leader-flat {
    background: url(../../img/leader/leader-flat.jpg) no-repeat center center scroll; 
    background-color: #fff;

}

.shanax-flat {
    background: url(../../img/leader/shanax-flat.jpg) no-repeat center center scroll; 
    background-color: #fff;

}

.snowy-flat {
    background: url(../../img/leader/snowy-flat.jpg) no-repeat center center scroll; 
    background-color: #000;

}

.vio-flat {
    background: url(../../img/leader/vio-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}

.family-flat {
    background: url(../../img/leader/family-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}

.greenstrike-flat {
    background: url(../../img/leader/greenstrike-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}

.sleepy-flat {
    background: url(../../img/leader/sleepy-flat.jpg) no-repeat center center scroll; 
    background-color: #000;

}

.hemmingway-flat {
    background: url(../../img/leader/hemmingway-flat.jpg) no-repeat top center scroll; 
    background-color: #000;
}

.pomchi-flat {
    background: url(../../img/leader/pomchi-flat.jpg) no-repeat top center scroll; 
    background-color: #000;
}