

.flat {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.leader-flat {
    background: url(../../img/about/leader-flat.jpg) no-repeat center center scroll; 
    background-color: #fff;

}

.shanax-flat {
    background: url(../../img/about/shanax-flat.jpg) no-repeat center center scroll; 
    background-color: #fff;

}

.snowy-flat {
    background: url(../../img/about/snowy-flat.jpg) no-repeat center center scroll; 
    background-color: #000;

}

.vio-flat {
    background: url(../../img/about/vio-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}

.family-flat {
    background: url(../../img/about/family-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}

.greenstrike-flat {
    background: url(../../img/about/greenstrike-flat.jpg) no-repeat top center scroll; 
    background-color: #000;

}